/* Style Guide For Resume */
.linkedin {
    color:blue;
}
    h3 {
    color:blueviolet;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 200%;
    background-color:rgb(205, 135, 222);
    text-decoration: underline
}